@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf") format("truetype");
}

@theme {
  --font-inter : "Inter", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


/* AI */

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: -90% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  animation: gradient-shift 7s ease infinite;
  background: radial-gradient(circle closest-side at 50% 30%,rgb(170, 0, 255) 2%,black);
  background-size: 200% 200%;
}
